@media (min-width:769px) {
    .BenifitTitle{
        width:100%;
        height:30vh;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

@media (max-width:768px) {
    .BenifitTitle{
        width:100%;
        height:20vh;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}